/* ========================================================================== *\
   Base
\* ========================================================================== */

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll; // Force vertical scrollbar to avoid jumping if navigating from short to long page and vice versa

  &.overlay-open {
    overflow: hidden;
  }
}

body {
  background-color: $bgcolor-body;
  color: $color-base;
  font-family: $font-base;
  font-size: $fontsize-base;
  line-height: $lineheight-base;
  min-width: 320px;
}

.container {
  width: 90%;
  margin: 0 5%;

  .main > & {
    padding: 30px 0;
  }
}

//
// Typograpy
// --------------------------------------------------------------------------

p {
  padding-bottom: $padding-base;
}

//
// Headings
// --------------------------------------------------------------------------

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-titles;
  padding-bottom: $padding-base;
}

h1, .h1 {
  font-size: $fontsize-h1;
}

h2, .h2 {
  font-size: $fontsize-h2;
}

h3, .h3 {
  font-size: $fontsize-h3;
}

h4, .h4 {
  font-size: $fontsize-h4;
}

h5, .h5 {
  font-size: $fontsize-h5;
}

h6, .h6 {
  font-size: $fontsize-h6;
}

//
// Links
// --------------------------------------------------------------------------

a {
  color: $color-link;
  @include transition( color 0.25s ease );

  &:hover, &:focus, &:active {
    color: $color-link-hover;
  }
}

//
// (Responsive sticky Footer)
// --------------------------------------------------------------------------

body {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.wrap {
  display: table-row;
  height: 100%;
}

.footer {
  display: table-row;
  height: 1px;
}