// ==========================================================================
// Base Styling
// ==========================================================================

body {
  background-color: $bgcolor-body;
  color: $color-base;
  font-family: $fontfamily-base;
  font-size: $fontsize-base;
  line-height: $lineheight-base;
}

.container {
  width: 90%;
  margin: 0 5%;
}

//
// Typograpy
// --------------------------------------------------

p {
  padding-bottom: $padding-base;
}

//
// Headings
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  font-family: $fontfamily-titles;
  padding-bottom: $padding-base;
}

h1 {
  font-size: $fontsize-h1;
}

h2 {
  font-size: $fontsize-h2;
}

h3 {
  font-size: $fontsize-h3;
}

h4 {
  font-size: $fontsize-h4;
}

h5 {
  font-size: $fontsize-h5;
}

h6 {
  font-size: $fontsize-h6;
}

//
// Links
// --------------------------------------------------

a {
  color: $color-link;
}

a:hover, a:focus {
  color: $color-link-hover;
}

//
// Sticky Footer [by Steve Hatcher | http://www.cssstickyfooter.com]
// --------------------------------------------------

* { margin:0; padding:0; } 

html, body { height: 100% }

#wrap { min-height: 100%; }

#main {
  overflow:auto;
  padding-bottom: $height-footer; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: 0 - $height-footer; /* negative value of footer height */
  height: $height-footer;
  clear: both;
}

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

// ==========================================================================
// Phone (Landscape) > Tablet
// ==========================================================================

@media only screen and (min-width: 480px) {

}

// ==========================================================================
// Tablet > Desktop
// ==========================================================================

@media only screen and (min-width: 768px) {

}

// ==========================================================================
// Desktop
// ==========================================================================

@media only screen and (min-width: 980px) {
  .container {
    max-width: $max-width-container;
    margin: 0 auto;
  }
}