/* ========================================================================== *\
|* Phone (Landscape) > Tablet                                                 *|
\* ========================================================================== */

@media only screen and (min-width: 480px) {
  // ==========================================================================
  // Menu
  // ==========================================================================

  .nav-main {
    a {
      float: left;
    }

    li {
      display: inline;

      &:first-child {
        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}