// ==========================================================================
// Helpers
// ==========================================================================

.wp-caption {
  background-color: #fff;
  @include box-shadow(0 0 5px 1px $color-shadow);
  text-align: center;
  padding-top: 5px;
}

.wp-caption-text {
  font-size: 12px;
  padding: 10px;
}

.gallery-caption {

}

.sticky {
  background-color: $bgcolor-sticky;
}

.bypostauthor {

}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}