// ==========================================================================
// Helpers
// ==========================================================================

.wp-caption {

}

.wp-caption-text {

}

.gallery-caption {

}

.sticky {

}

.bypostauthor {

}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}