// ==========================================================================
// Helpers
// ==========================================================================

.wp-caption {
  border: solid 5px #fff;
  @include box-shadow(0 0 5px 1px $color-shadow);
}

.wp-caption-text {

}

.gallery-caption {

}

.sticky {

}

.bypostauthor {

}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}