// ==========================================================================
// Main [Phone > Phone (Landscape) ]
// ==========================================================================

.main {
  > .container {
    @include clearfix;
    padding: 30px 0;
  }
}

// ==========================================================================
// Phone (Landscape) > Tablet
// ==========================================================================

@media only screen and (min-width: 480px) {

}

// ==========================================================================
// Tablet > Desktop (Small)
// ==========================================================================

@media only screen and (min-width: 768px) {
  .content {
    float: left;
    width: 57%;
  }
}

// ==========================================================================
// Desktop
// ==========================================================================

@media only screen and (min-width: 980px) {

}