/* ==========================================================================
   Phone > Phone (Landscape)
   ========================================================================== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: #000;
  background: #aaa;
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Phone (Landscape) > Tablet
   ========================================================================== */

@media only screen and (min-width: 480px) {
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

  //
  // IE fixes
  // --------------------------------------------------

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

/* ==========================================================================
   Tablet > Desktop (Small)
   ========================================================================== */

@media only screen and (min-width: 768px) {
  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }
}

/* ==========================================================================
   Desktop (Small) > Desktop (Large)
   ========================================================================== */

@media only screen and (min-width: 980px) {

}

/* ==========================================================================
   Desktop (Large)
   ========================================================================== */

@media only screen and (min-width: 1140px) {

}