// ==========================================================================
// Main [Phone > Phone (Landscape) ]
// ==========================================================================

.nav-main {
  ul {
    margin: 0;
    padding: 0;
  }

  a {   
    background: $bgcolor-menu;
    color: $color-menu;
    text-align: center;
    display: block;

    &:hover {
      background: $bgcolor-menu-hover;
      color: $color-menu-hover;
    }
  }

  &.active {
    a {
      background: $bgcolor-menu-active;
      color: $color-menu-active;
    }
  }
}

// ==========================================================================
// Phone (Landscape) > Tablet
// ==========================================================================

@media only screen and (min-width: 480px) {
  .nav-main {
    a {
      float: left;
    }

    li {
      display: inline;

      &:first-child {
        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}

// ==========================================================================
// Tablet > Desktop
// ==========================================================================

@media only screen and (min-width: 768px) {
  .nav-main {
    float: right;
    width: 38%;
  }
}

// ==========================================================================
// Desktop
// ==========================================================================

@media only screen and (min-width: 980px) {

}