// ==========================================================================
// Mixins
// ==========================================================================

//
// IE mixins
// --------------------------------------------------

// Use: @include inline-block
@mixin inline-block { 
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

// Use: @include text-indent
@mixin text-indent {
  text-indent: -9999px;
  *font-size: 0; 
  *display:block; 
  *line-height: 0;
}

// Use: @include min-height(500px)
@mixin min-height($value) {
  min-height: $value;
  *height:auto !important;
  *height: $value;
}

//
// CSS3 mixins
// --------------------------------------------------

// Use: @include opacity(75)
@mixin opacity($opacity) {
  *zoom: 1;
  *filter: alpha(opacity=$opacity);
  opacity: $opacity / 100;
}

// Use: @include box-shadow(1px 1px 1px 1px #000) || @include box-shadow(inset 1px 1px px 1px #000)
@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments;
  box-shadow: $arguments;
}

// Use: @include border-radius(5px) || @include border-radius(5px 2px)
@mixin border-radius($value) {
  -webkit-border-radius: $value;
  border-radius: $value;
}

//
// Helper mixins
// --------------------------------------------------

// Use: @include clearfix
@mixin clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Use: @include hidden
@mixin hidden {
  display: none;
  visibility: hidden;
}

// Use: @include visuallyhidden
@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

// Use: @include ir
@mixin ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}