// ==========================================================================
// Tablet > Desktop (Small)
// ==========================================================================

@media only screen and (min-width: 768px) {
  .content {
    float: left;
    width: 57%;
  }

  .sidebar {
    float: right;
    width: 28%;
  }
}