/* ==========================================================================
   Variables
   ========================================================================== */

//
// Color
// --------------------------------------------------

$color-base: #333;
$color-link: #888;
$color-link-hover: #aaa;

//
// Font Family
// --------------------------------------------------

$fontfamily-base: Arial, sans-serif;
$fontfamily-titles: 'Helvetica', Arial, sans-serif;

//
// Font Size
// --------------------------------------------------

$fontsize-base: 13px;
$fontsize-h1: 24px;
$fontsize-h2: 22px;
$fontsize-h3: 20px;
$fontsize-h4: 18px;
$fontsize-h5: 16px;
$fontsize-h6: 14px;

//
// Line Height
// --------------------------------------------------

$lineheight-base: 20px;
$lineheight-h1: 24px;
$lineheight-h2: 22px;
$lineheight-h3: 20px;
$lineheight-h4: 18px;
$lineheight-h5: 16px;
$lineheight-h6: 14px;

//
// Padding
// --------------------------------------------------
$padding-base: 15px; // Used for bottom padding for P and H1-h6

//
// Height
// --------------------------------------------------
$height-footer: 180px;