// ==========================================================================
// Variables
// ==========================================================================

//
// Background Color
// --------------------------------------------------

$bgcolor-body: #eee;
$bgcolor-header: #ddd;
$bgcolor-footer: #ddd;

$bgcolor-menu: #ccc;
$bgcolor-menu-hover: #bbb;
$bgcolor-menu-active: #aaa;

//
// Color
// --------------------------------------------------

$color-base: #333;
$color-link: #888;
$color-link-hover: #aaa;

$color-menu: #000;
$color-menu-hover: #444;
$color-menu-active: #888;

//
// Font Family
// --------------------------------------------------

$fontfamily-base: Arial, sans-serif;
$fontfamily-titles: 'Helvetica', Arial, sans-serif;

//
// Font Size
// --------------------------------------------------

$fontsize-base: 13px;
$fontsize-h1: 24px;
$fontsize-h2: 22px;
$fontsize-h3: 20px;
$fontsize-h4: 18px;
$fontsize-h5: 16px;
$fontsize-h6: 14px;

//
// Line Height
// --------------------------------------------------

$lineheight-base: 1.50;

//
// Padding
// --------------------------------------------------
$padding-base: 15px; // Used for bottom padding on P and H1-h6 elements

//
// Width
// --------------------------------------------------

$max-width-container: 1200px;

//
// Height
// --------------------------------------------------

$height-footer: 180px;